#project_main {

}

@mixin task_list_layer {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin: 0.2rem 0rem;
}

#task_main {

    li {

    }
    li:hover {
        cursor: pointer;
        background-color: cadetblue;
    }

    li .active {
        background-color: goldenrod;
    }

    .task_list_layer_0 {
        @include task_list_layer;
    }

    .task_list_layer_1 {
        @include task_list_layer;
        padding-left: 2rem;
    }

}

.project_box {
    display: inline-block;

    border-style: solid;
    border-width: 2px;
    border-radius: 5px;

    margin: 0.5rem 0.5rem;
  }

  .modal {
    position: absolute;
    left: 15%;
    top: 10%;
    //transform: translate(-9%, -5%);
    display: block;
    background-color: gainsboro;
  }